::selection {
  background-color: #0053df;
  color: #fcefde;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #fcefde;
  font-family: 'Source Code Pro', monospace;
  cursor: url(cursor1.png), auto;
}

header img {
  width: 100%;
}

header {
  background-color: #ff4b33;
  width: 80vw;
  height: 100%;
  margin-inline: auto;
  position: relative;
  padding: 20px;
  margin-top: 30px;
}

header h1 {
  margin: 0;
  padding: 10% 0 0 10%;
  font-size: 100px;
  color: #fcefde;
  font-weight: 600;
}

header h2 {
  margin: 0;
  padding: 0 0 0 10%;
  color: #fcefde;
  font-size: 30px;
  font-weight: 400;
}

.hero {
  min-width: 400px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.small {
  flex-grow: 1;
}

.big {
  flex-grow: 5;
}

.box {
  background-color: #fcefde;
  color: #0053df;
  width: 80%;
  margin-inline: auto;
  margin-top: 50px;
  justify-content: space-around;
}

.red {
  color: #ff4b33;
}

.button {
  background-color: #ff4b33;
  color: #fcefde;
  padding: 4px;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  margin-inline: auto;
  margin-top: 8px;
  margin-bottom: 16px;
  cursor: url(cursor.png), pointer;
  font-size: 20px;
  font-weight: 600;
}

.button:hover {
  background-color: #0053df;
}

.big p {
  margin-bottom: 5px;
}

.contact-icon {
  width: 20px;
  margin-right: 5px;
  margin-left: 30px;
}

.contact {
  color: #fcefde;
  font-size: 20px;
  display: flex;
  text-decoration: none;
  display: flex;
}

.contact a {
  text-decoration: none;
  display: flex;
  color: #fcefde;
  cursor: url(cursor.png), pointer;
}

h3 {
  color: #0053df;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

.photos {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-inline: auto;
  margin-block: 30px;
  padding: 0px;
  position: relative;
}

.photo {
  width: 333px;
  margin-block: 10px;
}

figure {
  margin: 0;
  padding: 0;
  height: 333px;
}

figcaption {
  position: relative;
  z-index: 1;
  font-size: 30px;
  top: -333px;
  left: -30px;
  padding: 10px;
  background-color: #0053df;
  color: #fcefde;
  font-weight: 600;
  width: 60px;
  height: 60px;
  text-align: center;
}

.projects {
  background-color: #0053df;
  color: #fcefde;
  width: 50vw;
  margin-inline: auto;
  font-size: 14px;
  position: relative;
  line-height: 150%;
  padding: 15px;
  margin-block: 30px;
}

.aboutme {
  background-color: #ff4b33;
  width: 80vw;
  margin-inline: auto;
  color: #fcefde;
  font-size: 18px;
  position: relative;
  line-height: 150%;
}

.text-about {
  width: 100%;
  padding: 20px 50px 30px 100px;
}

.text-about h2 {
  font-size: 50px;
}

.small-f {
  font-size: 12px;
  color: #0053df;
  line-height: 100%;
}

.margin {
  padding-inline: 60px;
}

.blue {
  color: #0053df;
  font-weight: 500;
  line-height: 300%;
}

footer {
  background-color: #0053df;
  width: 80vw;
  margin-inline: auto;
  margin-bottom: 30px;
}

footer p {
  margin: 0;
  text-align: center;
  padding: 20px;
  color: #fcefde;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .text-about {
    font-size: 16px;
    padding: 20px 30px 30px 20px;
    text-align: center;
  }

  .margin {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 500px) {
  footer, header, .aboutme, .projects {
    width: 100%;
    padding: 2px;
  }

  header h1 {
    font-size: 80px;
  }

  .text-about {
    padding: 10px;
    width: auto;
  }

  .photo {
    width: 100%;
  }

  figure {
    margin: 30px;
  }

  figcaption {
    width: 40px;
    height: 40px;
    font-size: 18px;
    z-index: 1;
    left: -10px;
    padding: 10px;
    background-color: #0053df;
    color: #fcefde;
    font-weight: 600;
    text-align: center;
  }
}

/* ANIMATION COFFEE*/
.cls-36 {
  -webkit-animation: slide-top 2s ease-in-out 1s infinite alternate-reverse forwards;
  animation: slide-top 2s ease-in-out 1s infinite alternate-reverse forwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
